{% extends "base.html" %}
{% block content %}
<div class = "row">
<form action="/results" method="post" class="w-100">
    <div class="col-8 offset-2 text-center">
        <p></p>
        <h4>
            Welcome to Route Rhythms <h5>The perfect length playlist generator for your commute</h5>
        </h4>
        <p class="fw-light">
            Please enter the following information about your journey
        </p>
        <p></p>
    </div>
    <div class="col-6 offset-md-3">
    <p>
        <label for="start location">Start Location</label><br>
        <input type="text" class = "form-control" id="start location" name="start_location" placeholder="Please enter an address or location.">
    </p>
    <p>
        <label for="end location">End Location</label><br>
        <input type="text" class = "form-control" id="end location" name="end_location" placeholder="Please enter an address or location.">
    </p>
        <div class=".form-select">
            <p>
                <label for="travel type">Type of travel</label><br>
        <!--        <input type="checkbox" class = "form-control" id="end location" name="end_location" placeholder="Please enter an address or location.">-->
                <select id="travel type" class="form-select" name="travel_type_user">
                  <option selected>Select type</option>
                  <option value="Driving">Driving</option>
                  <option value="Walking">Walking</option>
                  <option value="Biking">Biking</option>
                </select>
            </p>
        </div>

     <p>
        <label for="search">Enter one word to describe the theme of the playlist:</label><br>
        <input type="text" class = "form-control" id="search" name="search_term" placeholder="ex: Driving, Summer, etc.">
    </p>

    <p>
        <button type="submit" class = "btn btn-primary">Generate Playlist</button>
    </p>

</form>
    </div>
</div>
{% endblock %}